<form>
  <input placeholder="search movies" type="text" ng-model="movie.search" />
  <button type="submit" ng-click="movie.searchMovies(movie.search)">Check the movie webs</button>
  <input placeholder="search tv shows" type="text" ng-model="tv.search" />
  <button type="submit" ng-click="movie.searchTv(tv.search)">Check the tv webs</button>
</form>
<div ng-repeat="title in movie.searchReturn">
  <a href = "#details" ng-click="movie.storeId(title.id)">
    <p>
      {{ title.title }}  {{ title.release_year }}
    </p>
    <img ng-src="{{ title.poster_120x171 }}" />
  </a>
</div>
<div ng-repeat="show in movie.tvSearchReturn">
  <a href = "#details" ng-click="movie.storeId(show.id)">
    <p>
      {{ show.title }}
    </p>
    <img ng-src="{{ show.artwork_208x117 }}" />
  </a>
</div>
