<div class = "container">
  <div class = "row">
    <div class = "search">
      <form>
        <div class = "twelve columns">
          <input placeholder="what are you looking for?" type="text" ng-model="movie.search" />
        </div>
        <div class = "eleven columns">
          <button type="submit" ng-click="movie.searchBoth(movie.search)">Search for movies</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div>
      <div class = "three columns results" ng-repeat="title in movie.searchReturn">
        <a href = "#details" ng-click="movie.storeTitleId(title.id)">
            <h6>
              {{ title.title }}  {{ title.release_year }}
            </h6>
            <img ng-src="{{ title.poster_120x171 }}" />
        </a>
      </div>
      <section>
        <div class = "results" ng-repeat="show in movie.tvSearchReturn">
            <a href = "#details" ng-click="movie.storeTvId(show.id)">
                <p>
                  {{ show.title }} {{ show.id }}
                </p>
                <img ng-src="{{ show.artwork_208x117 }}" />
            </a>
        </div>
      </section>
    </div>
  </div>
</div>
