<div class = "container">
  <section ng-hide = "profile.show" >
    <p>
      {{profile.data}}
    </p>
  </section>
  <main ng-show = "profile.show">
    <h3>Welcome back! {{ profile.user }} </h3>
    <br />
    <div class = "row">
      <div class = "four columns">
        <button ng-click = "profile.showQueue()">Queue</button>
      </div>
      <div class = "four columns">
        <button ng-click = "profile.showFavorites()">Favorites</button>
      </div>
      <div class = "four columns">
        <button ng-click = "profile.showRecommendations()">Recommendations</button>
      </div>
    </div>
    <div ng-show = "profile.queue">
      <h3>Queue:</h3>
        <div class = "row">
          <div class = "five columns queues" ng-repeat = "movie in profile.watchlist">
            <div  ng-model = "movie.movieId">
              <a href = "#details" ng-click = "profile.storeId(movie.movieId)">
                <h4> {{ movie.title }} </h4>
                <img ng-src = "{{ movie.picture }}" />
                <br />
              </a>
                <button class = "delete" ng-click = "profile.deleteFavoriteTitle(movie._id)">Remove from list</button>
                <button class = "button-primary" ng-click = "profile.addMovieToFavorites(movie)">Add to favorites</button>
            </div>
          </div>
        </div>
    </div>
    <div ng-show = "profile.favorites">
      <h3>Favorites:</h3>
      <div class = "container">
        <div class = "row">
          <div class = "five columns queues" ng-repeat = "movie in profile.favoriteTitles">
            <div ng-model = "movie.movieId">
              <a href = "#details" ng-click = "profile.storeId(movie.movieId)">
                <h4> {{ movie.title }} </h4>
                <img ng-src = "{{ movie.picture }}" />
                <br />
              </a>
                <button class = "delete" ng-click = "profile.deleteFavoriteTitle(movie._id)">Remove from list</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show = "profile.recommendations">
      <h3>Recommended Titles:</h3>
      <div class = "container">
        <div class = "row">
          <div class = "five columns queues" ng-repeat = "movie in profile.recommendedTitles">
            <div ng-model = "movie.movieId">
              <a href = "#details" ng-click = "profile.storeId(movie.movieId)">
                <h4> {{ movie.title }} </h4>
                <img ng-src = "{{ movie.picture }}" />
                <br />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
