<section ng-hide = "profile.show" >
  <p>
    {{profile.data}}
  </p>
</section>
<main ng-show = "profile.show">
  <h3>Welcome back! {{ profile.user }} </h1>
  <br />
  <h3>Queue:</h3>
  <div class = "container">
    <div class = "row">
      <div ng-repeat = "movie in profile.watchlist">
        <div class = "results col-sm-4" ng-model = "movie.movieId">
          <a href = "#details" ng-click = "profile.storeId(movie.movieId)">
            <h4> {{ movie.title }} </h4>
            <img ng-src = "{{ movie.picture }}" />
            <br />
            <button class = "delete" ng-click = "profile.deleteFavoriteTitle(movie._id)">Get this out of my sight!</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
