/*html {
  background-color: #e6fe54;
  color: #bb0b0b;
}*/
li {
  list-style: none;
}
#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #424aff;
  color: #000000;
}
#header button {
  margin-top: 15px;
  margin-right: 20px;
}
#header section {
  margin-top: 15px;
}
#header h1 {
  margin-right: 30px;
}
#header p {
  margin-top: 15px;
}
#header img {
  margin-top: 10px;
}
#header a {
  color: #1b00ff;
}
/*.results {
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 350px;
  margin: 15px;
  border: 2px solid #000000;
}*/
.queues {
  text-align: center;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #00ff4f;
}
.button {
  background-color: #04c634;
  color: #ffffff;
}
input {
  width: 500px;
}
.search {
  text-align: center;
}
.delete {
  background-color: #cc3f3c;
  color: #ffffff;
}
