html {
  background-color: #000000;
  color: #bb0b0b;
}
li {
  list-style: none;
}
button {
  background-color: #bb0b0b;
  color: #ffffff;
}
#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-image: url(/public/assets/Movie-Night-Banner.jpg);
  height: 300px;
  width: auto;
  color: #c92121;
}
#header button {
  margin-top: 15px;
  margin-right: 20px;
  background-color: #bb0b0b;
}
#header section {
  margin-top: 15px;
}
#header h1 {
  margin-right: 30px;
}
#header p {
  margin-top: 15px;
}
#header img {
  margin-top: 10px;
}
#header a {
  color: #1b00ff;
}
.results {
  text-align: center;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #3a3b3a;
}
.results a {
  color: #bb0b0b;
}
.queues {
  text-align: center;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #3a3b3a;
}
.button {
  background-color: #bb0b0b;
  color: #ffffff;
}
input {
  width: 500px;
}
.search {
  text-align: center;
}
.delete {
  background-color: #bb0b0b;
  color: #ffffff;
}
h3 {
  text-align: center;
  color: #bb0b0b;
}
.details {
  color: #f9f9f9;
}
.details a {
  color: #2f31db;
}
.details li {
  font-size: 20px;
}
h2 {
  color: #bb0b0b;
}
